
  <div class="grid grid-cols-1 gap-4 md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4">
      <ng-container *ngFor="let product of products">
          <div appProdCart="shadow-2xl" [bgColor]="'bg-base-100'" [isLast]="product.quantity == 1" *ngIf="product.quantity > 0" [ngClass]="{'border-2': product.quantity == 1, 'border-red-500': product.quantity == 1}" class="card overflow-hidden w-96 shadow-md relative transition-[box-shadow] duration-500">
              <div class="badge badge-primary text-white badge-lg absolute top-4 left-4">{{product.quantity}} items left</div>
              <figure>
                <img
                  class="h-64 w-full object-cover"
                  [src]="product.img"
                  [alt]="product.name" />
              </figure>
              <div class="card-body">
                <h2 class="card-title">
                  {{product.name}}
                  <div *ngIf="product.discount" class="badge badge-secondary">{{product.discount}}% off</div>
                </h2>
                  <div class="flex gap-0">
                      <p class="text-base font-bold" *ngIf="product.discount" [class.text-red-500]="product.discount" [class.line-through]="product.discount">{{product.price | currency:"EGP"}}</p>
                      <p class="text-base font-bold" >{{ getFinalPrice(product) | currency:"EGP"}}</p>
                  </div>
                  <div class="flex gap-2">
                    <button (click)="addToCart(product)" class="btn btn-primary w-fit">Add to cart</button>
                    <button (click)="viewProductDetails(product.id)" class="btn btn-primary w-fit">View Details</button>
                  </div>
              </div>
            </div>
      </ng-container>
  </div>
