<div class="container mx-auto p-4 relative">
    <button (click)="goBack()" class="btn btn-primary">Back</button>
    <div class="card w-full lg:w-1/2 bg-base-100 shadow-xl mx-auto">
        <div class="badge badge-secondary text-white badge-lg absolute top-4 left-4">{{product?.quantity}} items left</div>
        <figure>
            <img [src]="product?.img" alt="Product Image" class="w-full h-64 object-cover">
        </figure>
        <div class="card-body">
            <h2 class="card-title text-2xl font-bold">{{product?.name}}</h2>
            <div class="flex gap-0">
                <p class="text-base font-bold" *ngIf="product?.discount" [class.text-red-500]="product?.discount" [class.line-through]="product?.discount">{{product?.price | currency:"EGP"}}</p>
                <p class="text-base font-bold" >{{ getFinalPrice(product) | currency:"EGP"}}</p>
            </div>
            <div class="card-actions justify-end mt-4">
                <a [routerLink]="['/editProduct', id]" class="btn btn-secondary">Edit</a>
                <button onclick="deleteModal.showModal()" class="btn bg-red-500 text-base-100">Delete</button>
            </div>
            <dialog id="deleteModal" class="modal">
                <div class="modal-box">
                  <h3 class="text-lg font-bold">Warning</h3>
                  <p class="py-4">Are you sure you want to delete {{product?.name}}?</p>
                  <div class="modal-action">
                    <form method="dialog">
                      <button (click)="delete()" class="btn bg-red-500 text-base-100 mr-2">Delete</button>
                      <button type="submit" class="btn">Cancel</button>
                    </form>
                  </div>
                </div>
              </dialog>
            <!-- <div class="card-actions justify-end mt-4">
                <button [disabled]="isLastProduct" (click)="goNext()" class="btn btn-primary">Next</button>
            </div> -->
        </div>
    </div>
</div>